@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color:#3c40c6;
    --secondary-color:#009432;
    --white:#fff;
    --black:#444;
    --light-color:#666;
    --bg-color:#fafaff;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
}



*{
    box-sizing: border-box;
    outline:none;
    border:none;
    text-transform: capitalize;
    text-decoration: none;
    margin: 0;
    padding:0;
    transition:  all .2s linear;
    font-family: "Montserrat", sans-serif;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
}


::-webkit-scrollbar{
    width:1rem;
}

::-webkit-scrollbar-track{
    background:transparent;
}

::-webkit-scrollbar-thumb{
    background:var(--main-color);
}

section{
    padding:3rem 2rem;
    max-width: 1200px;
    margin:0 auto;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
}

.heading span{
    font-size:2rem;
    color:var(--secondary-color);
}

h3{
    margin-top: .5rem;
    color:var(--black);
    font-size: 2.8rem;
    margin-right: 20rem;
}




.btn{
    font-size:1.5rem;
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 5rem;
    background-color: var(--main-color);
    color:var(--white);
    padding:1.2rem 2.5rem;
    box-shadow: var(--box-shadow);
}

.btn:hover{
    background-color: var(--black);
    transform: scale(.9);
    outline: .2rem solid var(--black);
    outline-offset: .4rem;
}

/* about section heading css */
.heading-container{
    background: url('../images/About-us.png') center/cover no-repeat;
    width: 100%;;
    height:550px;
    padding:6rem 0;
}

.heading-container h3{
    font-size:4rem;
    margin-bottom: 1rem;
    color:var(--black);
}

.heading-container .breadcrumb{
    display: flex;
    align-items: center;
    gap:1rem;
}

.heading-container .breadcrumb a{
    font-size: 1.8rem;
    color:var(--main-color);
}

.heading-container .breadcrumb a:hover{
    color:var(--secondary-color);
}

.heading-container .breadcrumb i{
    font-size:1.6rem;
    color:var(--light-color);
}


/* home page css */
.header{
    position: sticky;
    top:0;
    left: 0;
    right:0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo{
    font-size: 2rem;
    color:var(--black)
}

.header .flex .logo i{
    margin-right:.2rem;
    color:var(--main-color)
}

.header .flex .navbar ul{
    list-style-type: none;
}

.header .flex .navbar ul li{
    position: relative;
    float:left;
}

.header .flex .navbar ul li a{
    display: block;
    font-size:1.9rem;
    color:var(--black);
    padding:1rem;
}

.header .flex .navbar ul li a:hover{
    color:var(--main-color);
}

.header .flex .navbar ul li a i{
    margin-left: .5rem;
}

.header .flex .navbar ul li ul{
    position: absolute;
    left:0;
    width:20rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
    display: none;
}

.header .flex .navbar ul li ul li{
    width:100%;
    background-color: var(--white);
    border-radius: .5rem;
}


.header .flex .navbar ul li ul li ul{
    top:0;
    left:20rem;
}

.header .flex .navbar ul li:hover > ul, 
.header .flex .navbar ul li:focus-within > ul {
    display: inline-block;
}

#menu-btn{
    font-size: 3.rem;
    color: var(--black);
    display: none;
}

.logo img{
    width:100px;
    height:80px;
}


/* Home part css */
.home {
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: url("../images/home-img.png") no-repeat right center;
    background-size: 600px auto;
    padding: 0 5%; 
}

.home .flex {
    min-height: 80vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.home .content {
    flex: 1;  
    max-width: 50%; 
}

.home .content p {
    font-size: 3rem;
    color: var(--secondary-color);
}

.home .content h3 {
    font-size: 5rem;
    color: var(--black);
    padding: .5rem 0;
}


/* parenters css*/
.partners .flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:4rem;
    padding:2.5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    margin-top: -5rem;
    border-radius: .5rem;
    overflow-x: scroll;
}

.partners .flex::-webkit-scrollbar{
    height:0;
}

.partners .flex img{
    height: 8rem;
    width:12rem;
    object-fit: contain;
}

.partners .flex img:hover{
    transform:scale(1.1);
}


/* features part css */
.container .row{
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    align-items: center;
}


.container .row .image{
    flex: 1 1 40rem;
}


.container .row .image img{
    width:100%;
    height: 500px;
    
}


.container .row .content{
    flex: 1 1 40rem;
}

.container .row .content span{
    font-size: 2.5rem;
    color:var(--secondary-color);
    margin-top: 20px;
}

.container .row .content h3{
    line-height: 1.4rem;
    margin:.5rem 0;
    font-size: 2.3rem;
    color:var(--black);
    margin-top: 8px;
}

.container .row .content .info{
    padding: .5rem 0;
    line-height: 1.8rem;
    font-size: 1.6rem;
    color:var(--light-color);
    margin-top:15px;
}

.container .row .content .point{
    padding: .5rem 0;
    line-height: 1.6rem;
    font-size: 1.6rem;
    color:var(--light-color);
    margin-top:15px;
}

.container .row .content .point i{
    margin-right: .5rem;
    color:var(--secondary-color);
}

.home-features .row-1{
    margin-bottom: 3rem;
    flex-wrap: wrap;
}


/* Account section css */
.home-account .box-container{
    display: grid;
    grid-template-columns: repeat((auto-fit), minmax(35rem, 1fr));
    gap:2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.home-account .box-container .box{
    background-color: rgba(246, 243, 243, 0.70);
    border: 1px solid white;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    box-shadow: var(--box-shadow);
}

.home-account .box-container .box:hover{
    transform: scale(.9);
}
.home-account .heading h3{
    margin-right:70px;
}

.home-account .box-container .box img{
    height:12rem;
    margin-bottom: 1rem;
}

.home-account .box-container .box h3{
    font-size:2.5rem;
    color:var(--black);
    margin: 1rem 0;
    font-weight: normal;
}


.home-account .box-container .box p{
    font-size: 1.4rem;
    color:var(--light-color);
    line-height: 2;
}

.home-account .box-container .box a{
    font-size: 1.8rem;
    margin-top: 1rem;
    display: block;
    color:var(--main-color);
}


.home-account .box-container .box a i{
    margin-left: .5rem;
}


.home-account .box-container .box a:hover{
    color:var(--secondary-color);
}

.home-account .box-container .box a:hover i{
    margin-left: 1.5rem;
}


/* app section css */
.app-feature .buttons{
    margin-top: 1.5rem;
}

.app-feature .buttons a:first-child{
    margin-right: .5rem;
}

.app-feature .buttons a img{
    height:5rem;
}

.app-feature .buttons a:hover img{
    transform: scale(1.1);
}


/* solutions part css */
.solution-feature .flex{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    align-items: center;
}

.solution-feature .flex .image{
    flex: 1 1 40rem;
}

.solution-feature .flex .image img{
    height:55rem;
    width:100%;
    object-fit:contain;
}

.solution-feature .flex .content{
    flex:1 1 40rem;
}


.solution-feature .flex .content h3{
    font-size:3.8rem;
    color:var(--black);
}

.solution-feature .flex .content p{
    line-height:1.8;
    font-size:2.6rem;
    color:var(--black);
    padding:1rem 0;
}

.solution-feature .flex .content .btn{
    background-color: var(--main-color);
    color:var(--white);
    font-size:1.8rem;
}

.solution-feature .flex .content .btn:hover{
    outline-color: var(--black);
}


/* Loan section css */
.loan-features .row{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    align-items: center;
}

.loan-features .row .content{
    flex: 1 1 40rem;
}

.loan-features .row .content span{
    font-size:2rem;
    color:var(--secondary-color);
}

.loan-features .row .content h3{
    font-size:3rem;
    color:var(--black);
    margin-top:.5rem;
}

.loan-features .row .content p{
    line-height: 1.8;
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.loan-features .row .box-container{
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
}

.loan-features .row .box-container .box{
    width:25rem;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
}

.loan-features .row .box-container .box img{
    height:7rem;
}

.loan-features .row .box-container .box h3{
    font-size:2rem;
    color:var(--black);
    margin:.5rem 0;
    font-weight: 400;
}

.loan-features .row .box-container .box p{
    padding-top:1rem;
    font-size:1.6rem;
    color:var(--light-color);
}

.loan-features .row .box-container .box i{
    margin-right: .5rem;
    color: var(--secondary-color);
}

.loan-features .row .box-container .box:hover{
    transform: scale(.9);
}


/* EMI Calculator css */ 
.emi-calculator .row{
    display: flex;
    flex-wrap:wrap;
    gap:7rem;
}

.emi-calculator .row form{
    flex: 1 1 40rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
    padding:2rem;
}

.emi-calculator .row form h3{
    font-size:1.7rem;
    color:var(--black);
    text-align: center;
    margin-top:1rem;
    margin-left:10rem;
}

.emi-calculator .row form p{
    padding-top:.5rem;
    font-size:1.8rem;
    color:var(--light-color);
}

.emi-calculator .row form input{
    width:100%;
    padding:1.4rem;
    border:var(--border);
    border-radius: .5rem;
    background-color: var(--bg-color);
    font-size:1.8rem;
    color: var(--black);
    margin:1rem 0;
}

.emi-calculator .row form .tenure{
    margin:.5rem 0;
    display: flex;
    gap:1rem;
}

.emi-calculator .row form .tenure input[type="radio"]{
    display: none;
}

.emi-calculator .row form .tenure label{
    font-size: 1.6rem;
    color: var(--black);
    background-color: var(--white);
    border: var(--border);
    border-radius: .5rem;
    flex:1;
    text-align: center;
    box-shadow: var(--box-shadow);
    padding:1rem;
    cursor: pointer;
}

.emi-calculator .row form .tenure input[type="radio"]:checked + label, 
.emi-calculator .row form .tenure label:hover{
    background-color: var(--secondary-color);
    color: var(--white);
}

.emi-calculator .row form .btn{
    width:100%;
}

.emi-calculator .row .output{
    flex:1 1 40rem;
    display: flex;
    flex-flow: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
}

.emi-calculator .row .output p{
    font-size:2rem;
    color:var(--black);
}

.emi-calculator .row .output div{
    font-size:3rem;
    padding-bottom: 1rem;
    color:var(--main-color);
}

/* get started css */
.get-started .row{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    position: relative;
    background-color: var(--main-color);
    border-radius: .5rem;
}

.get-started .row .image{
    position: absolute;
    top: -11.5rem; right:2rem;
}

.get-started .row .image img{
    height:45rem;
    max-width:45rem;
    object-fit: contain;
}

.get-started .row .content{
    flex: 1 1 40rem;
    max-width:60rem;
    padding:4rem;
}

.get-started .row .content h3{
    color: var(--white);
    font-size: 3rem;
    margin-bottom: .5rem;
}

.get-started .row .content p{
    font-size: 1.4rem;
    color:var(--white);
    line-height: 1.8;
    padding: 1rem 0;
}

.get-started .row .content .btn{
    background-color: var(--white);
    color:var(--black);
}

.get-started .row .content .btn:hover{
    outline-color: var(--white);
}


/* About section css */
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 40rem;
}

.about .row .image img{
    height:70rem;
    width:100%;
    object-fit: contain;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content .info span{
    font-size: 2rem;
    color:var(--secondary-color);
}

.about .row .content .info h3{
    font-size:2.5rem;
    color:var(--black);
}

.about .row .content .info p{
    font-size:1.6rem;
    line-height: 1.8;
    color:var(--light-color);
    padding:1rem 0;
}

.about .row .box-container{
    margin-top:1rem;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}

.about .row .box-container .box{
    width:150px;
    flex: 1 1 16rem;
    padding:1.5rem 2rem;
    text-align: center;
    border: var(--border);
    background-color: var(--bg-color);
    border-radius: .5rem;
}

.about .row .box-container .box:hover{
    transform: scale(1.1);
    background-color: #9b9ef0;
}

.about .row .box-container .box h3{
    font-size:3rem;
    color:var(--black);;
    margin-bottom: 1rem;
}

.about .row .box-container .box p{
    line-height: 1.5;
    font-size: 1.8rem;
    color: var(--light-color);
}

/* Reviews section css */
.reviews .reviews-slider{
    display: flex;
    gap:20px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.reviews .reviews-slider::-webkit-scrollbar{
    height: 0;
}

.reviews .reviews-slider .slider{
    scroll-snap-align: center;
    flex : 1 0 35rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2rem;
    user-select: none;

}

.reviews .reviews-slider .slider:hover{
    transform: scale(1.1);
}

.reviews .reviews-slider .slider .stars i{
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.reviews .reviews-slider .slider .title{
    font-size: 2rem;
    color:var(--black);
    margin:1rem 0;
    line-height: 1.6;
}

.reviews .reviews-slider .slider p{
    font-size:1.5rem;
    line-height: 1.8;
    color:var(--light-color);
}

.reviews .reviews-slider .slider .user{
    display: flex;
    align-items: center;
    gap:1.5rem;
    margin-top: 1.5rem;

}

.reviews .reviews-slider .slider .user img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .slider .user h3{
    color:var(--black);
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

.reviews .reviews-slider .slider .user span{
    color:var(--light-color);
    font-size: 1.6rem;
}

.reviews .controls{
    margin-top:2rem;
    display: flex;
    justify-content: center;
    gap:1rem;
}

.reviews .controls div{
    height:4rem;
    width:4.5rem;
    line-height: 4rem;
    font-size: 2rem;
    color:var(--white);
    background-color: var(--main-color);
    text-align: center;
    cursor: pointer;
    border-radius: .5rem;
}

.reviews .controls div:hover{
    transform: scale(1.1);
}


/* Branches section css */

.branches img{
    width: 100%;
    height:1300px;
}

/* Job offer section css */
.job-offer .box-container{
    display: flex;
    align-items: flex-start;
    gap:2rem;
    flex-wrap: wrap;
}

.job-offer .box-container .box{
    flex: 1 1 40rem;
    padding:2.5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.job-offer .box-container .box span{
    font-size:1.6rem;
    color:var(--main-color);
    background-color: var(--bg-color);
    border-radius: 5rem;
    padding:.5rem 1rem;
}

.job-offer .box-container .box h3{
    font-size:2.5rem;
    margin-top:1.5rem;
    color:var(--black);
}

.job-offer .box-container .box p{
    line-height: 1.8;
    font-size: 1.6rem;
    color:var(--light-color);
    padding:1rem 0;
}

/* Servcies section css */
.services .box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}


.services .box-container .box{
    padding:2.5rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background-color: var(--white);
}

.services .box-container .box:hover{
    transform: scale(1.1);
}

.services .box-container .box img{
    height: 4rem;
    margin-bottom: 1rem;
}

.services .box-container .box h3{
    font-size: 1.8rem;
    color:var(--black);
    margin:1rem 0;
    font-weight: 500;
}

.services .box-container .box p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:var(--light-color);
    padding-top: .5rem;
}

.services .box-container .box i{
    color:var(--secondary-color);
    margin-right: .5rem;
}


/* Loan process css */
.loan-process{
    background: var(--bg-color);
}

.loan-process .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:2rem;
    align-items: flex-start;
    justify-content: center;
}

.loan-process .box-container .box{
    text-align: center;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2rem;
}

.loan-process .box-container .box:hover{
    transform: scale(1.1);
}

.loan-process .box-container .box img{
    height:8rem;
    margin-bottom: 1rem;
}

.loan-process .box-container .box h3{
    font-size: 2rem;
    font-weight: 500;
    color:var(--black);
    margin:1rem 0;
}

.loan-process .box-container .box p{
    font-size:1.6rem;
    color:var(--light-color);
    line-height: 1.8;
}

/* emi-service css */

.emi-service section{
    text-align: center;
    padding:5% 2rem;
}

.emi-service span{
    font-size:2rem;
    color:var(--secondary-color);
}

.emi-service h3{
    font-size: 3rem;
    padding: .5rem 0;
    color:var(--black);
}

/* saving account css */
.account-process{
    background: var(--bg-color);
}

.account-process .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:20rem;
    display: flex;
    align-items: flex-start;
    justify-self: center;
}

.account-process .box-container .box{
    text-align: center;
}

.account-process .box-container .box img{
    height:25rem;
    width:100%;
    object-fit: contain;
}

.account-process .box-container .box p{
    margin-top: 1rem;
    font-size: 2rem;
    background-color: var(--white);
    color: var(--black);
    padding:1.5rem;
    border: var(--border);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;

}

/* card hero section css */
/* .card-hero{
   background: url('../images/credit-card.png') center/cover no-repeat;
   height:600px;
   width:1500px;
} */

.card-hero .flex{
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.card-hero .flex .content span{
    font-size:2rem;
    color:var(--secondary-color)
}

.card-hero .flex .content h3{
    font-size: 3rem;
    color:var(--black);
    margin-top: .5rem;
    line-height: 1.4;
}

.card-hero .flex .content p{
    padding:1rem 0;
    line-height: 1.8;
    font-size: 1.6rem;
    color:var(--light-color);
}

/* card feature css */
.card-features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:4rem;
    align-items: flex-end;
    justify-content: center;
}

.card-features .box-container .box{
    padding:2rem;
    text-align: center;
    border: var(--border);
    border-radius: .5rem;
}

.card-features .box-container .box:hover{
    border-color: var(--main-color);
    transform: scale(1.1);
}

.card-features .box-container .box img{
    height:7rem;
    margin-bottom: 1rem;
}

.card-features .box-container .box h3{
    font-size: 2rem;
    margin:1rem 0;
    color:var(--black);
}

.card-features .box-container .box p{
    font-size:1.5rem;
    line-height: 1.8;
    color: var(--light-color);
}

/* card list css */
.card-list .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    row-gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.card-list .box-container .box{
    text-align: center;
}

.card-list .box-container .box img{
    height: 25rem;
    width:100%;
    object-fit: contain;
}

.card-list .box-container .box:hover{
    transform: scale(1.1);
}

.card-list .box-container .box .btn{
    margin-top: 0;
}

/* team css */
.team .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:3rem;
    align-items: flex-start;
    justify-content: center;
}

.team .box-container .box{
    position: relative;
    height: 40rem;
    border-radius: .5rem;
    overflow: hidden;
}

.team .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.team .box-container .box .share{
    position: absolute;
    bottom:-100%; left:0;
    height:100%;
    width:100%;
    background:linear-gradient(transparent, var(--main-color));
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.5rem;
}

.team .box-container .box:hover .share{
    bottom: 0;
}

.team .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height: 4rem;
    border-radius: .5rem;
    background-color: var(--white);
    font-size: 2rem;
    text-align: center;
}

.team .box-container .box .share a:hover{
    color:var(--main-color);
    transform: translateY(-.5rem);
    box-shadow: var(--box-shadow);
}

/* login and register part css */


.login-form .flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .flex form{
    max-width:55rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;
    text-align: center;
    background-color: var(--white);
    border-radius: .5rem;
}

.login-form .flex form h3{
    font-size:2.5rem;
    padding-bottom: 1.5rem;
    color:var(--black);
    font-weight: 500;
}

.login-form .flex form .input{
    width:100%;
    padding:1.4rem;
    color:var(--black);
    background-color: var(--bg-color);
    border-radius: .5rem;
    margin: .5rem 0;
    font-size: 1.8rem;
    border: var(--border);
    text-transform: none;
}

.login-form .flex form .input:placeholder-shown{
    text-transform: capitalize;
}


.login-form .flex form p{
    font-size:1.8rem;
    color:var(--light-color);
    margin-top:2rem;
}

.login-form .flex form p a{
    color:var(--secondary-color);
}

.login-form .flex form p a:hover{
    color:var(--main-color);
    text-decoration: underline;
}

/* contact css */
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    align-items: center;
    justify-content: space-between;
}

.contact .row .image{
    flex: 1 1 40rem;
}

.contact .row .image .contact-img{
    width:100%;
    height:25rem;
    object-fit: contain;
}

.contact .row .image .flex{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
}

.contact .row .image .flex .box{
    flex:1 1 18rem;
    text-align: center;
    padding:2rem;
}

.contact .row .image .flex .box:hover{
    transform: scale(1.1);
}

.contact .row .image .flex .box img{
    height:6rem;
    margin-bottom: 1rem;
}

.contact .row .image .flex .box p{
    padding:1rem 0;
    font-size: 2rem;
    color:var(--black);
}

.contact .row .image .flex .box a{
    display: flex;
    color:var(--light-color);
    margin-top: 1rem;
    font-size: 1.6rem;
}

.contact .row .image .flex .box a:hover{
    color:var(--black);
}

.contact .row .image .flex .box:nth-child(2) a{
    text-transform: none;
}

.contact .row form{
    flex:1 1 30rem;
    text-align: center;
}
 
.contact .row form h3{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color:var(--black);
}

.contact .row form .input{
    font-size: 1.8rem;
    color:var(--black);
    width:100%;
    padding:1.4rem;
    margin:.5rem 0;
    border-bottom: var(--border);
    text-transform: none;
}

.contact .row form .input:placeholder-shown{
    text-transform: capitalize;
}

.contact .row form textarea{
    height:15rem;
    resize: none;
}

.contact .row form .input:focus{
    border-color: var(--secondary-color);
}

/*FAQ css*/
.faq .row{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap:2rem;
}

.faq .row .box-container{
    flex:1 1 40rem;
}

.faq .row .box-container .box{
    margin:2rem 0;
    border-radius: .5rem;
    border:var(--border);
    overflow: hidden;
}

.faq .row .box-container .box .title{
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
    cursor: pointer;
    user-select: none;
    transition: none;
    line-height: 1.4;
}

.faq .row .box-container .box .title h3{
    font-size:2rem;
    color:var(--black);
    font-weight: 500;
}

.faq .row .box-container .box .title i{
    font-size:1.8rem;
    color:var(--black);
}

.faq .row .box-container .box .text{
    font-size:1.6rem;
    line-height: 1.6;
    color:var(--light-color);
    transform: scaleY(0);
    transform-origin: top;
    height:0;
    transition: none;
}

.faq .row .box-container .box.active .text{
    transform: scaleY(0);
    padding:1rem 1.5rem;
    height:auto;
    transition: .2s ease-out;
}

.faq .row .image{
    flex:1 1 40rem;
}

.faq .row .image img{
    width:100%;
}














/*  footer part css */
.footer .flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:2rem;
}

.footer .flex .box:last-child{
    text-align:right;
}

.footer .flex .box:nth-child(2){
    text-align: center;
}

.footer .flex .box{
    flex: 1 1 20rem;
}

.footer .flex .box h3{
    font-weight:normal;
    font-size:2rem;
    padding-bottom: 2rem;
    color:var(--black);
}


.footer .flex .box a{
    display: block;
    padding:1rem 0;
    font-size:1.6rem;
    color:var(--light-color);
}

.footer .flex .box a i{
    color:var(--black);
    margin-left: .5rem;
}

.footer .flex .box a:hover i{
    margin-left: 1.5rem;
    color:var(--main-color);
}

.footer .flex .box a:hover{
    color: var(--black);
}

.footer .flex .box .input{
    width:100%;
    border-radius: 5rem;
    font-size:1.8rem;
    color:var(--black);
    text-transform: none;
    border: var(--border);
    background-color: var(--bg-color);
    padding:1.4rem;
    margin-bottom: 1rem;
}

.footer .flex .box .btn{
    width:90%;
}

.footer .credit{
    font-size:2rem;
    border-top: var(--border);
    background-color: var(--bg-color);
    text-align: center;
    color:var(--light-color);
    padding:3rem 2rem;
    line-height: 1.6;
}

.footer .credit span{
    color: var(--main-color);
}




















/* Media quaries */

@media (max-width:1200px) {
    html{
        font-size:55%;
    }
}


@media (max-width:768px) {


    .heading-container h3{
        font-size: 3rem;
    }

    .heading h3{
        font-size: 2.5rem;
    }
    #menu-btn{
        display: inline-block;
   }

   .header .flex .navbar{
        position: fixed;
        top: 6.5rem; left:0; right:0;
        background: var(--white);
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 0 0);
    }
    
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar ul li {
        width:100%;
    }


    .header .flex .navbar ul li ul {
        position: relative;
        width: 100%;
        box-shadow: none;
        border:none;
    }

    .header .flex .navbar ul li ul li {
        background-color: var(--white);
        border: none;
    }

    .header .flex .navbar ul li ul li ul {
        width:100%;
        left:2rem;
    }
    .home .flex .content p{
        font-size:2rem;
    }

    .home .flex .content h3{
        font-size:2rem;
    }
    .get-started .row{
        justify-content: center;
    }
    .get-started .row .image{
        position: static;
    }
    .get-started .row .image img{
        height:30rem;
        width:100%;
    }
    .get-started .row .content{
        text-align: center;
        padding: 3rem 2rem;
    }
    .card-hero{
        background-position: left;
    }
    .card-hero .flex{
        justify-content: center;
    }
    .card-hero .flex .content{
        text-align: center;
    }
    .card-hero .flex .content h3{
        font-size: 3.5rem;
    }
}

@media(max-width:450px) {
    html{
        font-size:50%;
    }
    .heading-container{
        padding: 4rem 0;
    }
    .home .flex {
        justify-content: center;
    }
    .home .flex .content {
        text-align: center;
    }

    .home .flex .content h3{
        font-size:2rem;
    }
    .emi-service h3{
        font-size:2rem;
    }
}





















